.CalendarDay__selected {
   background: #343e7a;
   color: white;
   border: 1px solid #343e7a;
}

.CalendarDay__selected:hover {
   background: #b4d0f6;
   color: white;
}

.SingleDatePickerInput__withBorder {
   border: none;
}

.DateInput_input {
   padding: 5px;
   border: 0.4px solid #767676;
   border-radius: 2px;
}

.DateInput_input__focused {
   border-bottom: 2px solid #343e7a;
}
