.table-wrapper {
   margin: 2rem auto;
}

.pagination {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 2rem 0;
}

table {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
}

table td,
table th {
   border: 1px solid #ddd;
   padding: 8px;
}

table tr:nth-child(even) {
   background-color: #f2f2f2;
}

table tr:hover {
   background-color: #ddd;
}

table th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: center;
   background-color: #343e7a;
   color: white;
}
select {
   padding: 5px;
}
.page-nav {
   justify-content: space-around;

   button {
      color: white;
      background-color: #343e7a;
      border-radius: 3px;
      border: none;
      margin: 0 0.5rem;
      padding: 0.5rem;
   }
   button:disabled {
      color: white;
      background: lighten(#343e7a, 30%);
   }
}
